
.expenses-list {
    list-style: none;
    padding: 0;
}

.expenses-list__fallback {
    margin-inline: 2%;
    padding: 0.4rem;
    background-color: rgba(240, 137, 137, 0.822);
    border-radius: 5px;
    border: 1px solid red;
    color: white;
    text-align: center;
    font-weight: bold;
}